 @font-face {
  font-family: 'MyownFont';
  src:  url('./font/OpenSans-Light.ttf');
  font-weight: 600;
  font-style: normal;
}

.hello{
  color:red;
  font-family: 'MyownFont';
  background: url('./icon.png')
}